# shellcheck disable=SC2148,SC2155

export ZAP_DEVELOPMENT=true

export MYSQL_HOST=localhost
export MYSQL_PORT=3306
export MYSQL_USER=dbuser
export MYSQL_DATABASE=db

# for sqlboiler config
export MYSQL_DBNAME="db"
export MYSQL_PASS="dbpass"
export MYSQL_SSLMODE="false"

# シークレットは、.localに書く 参照: `.envrc.local.sample`
# 例
#export MYSQL_ROOT_PASSWORD=mysql
#export MYSQL_PASSWORD=dbpass

[[ ! -f .envrc.local ]] || source_env .envrc.local

# for sqlboiler config
export MYSQL_PASSWORD=${MYSQL_PASS}

export DSN="$MYSQL_USER:$MYSQL_PASS@tcp($MYSQL_HOST:$MYSQL_PORT)/$MYSQL_DBNAME?parseTime=true&loc=Asia%2fTokyo&tls=skip-verify"
